<ion-header>
    <ion-navbar primary>
        <ion-title>{{cliente.NOM_TER}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="cartera-por-cliente">
    <ion-card>

        <ion-card-header text-center>
            <ion-icon name="person" large></ion-icon>
            {{ cliente.NOM_TER }} <br>
            {{cliente.COD_TER}}
        </ion-card-header>

        <ion-card-content text-justify *ngIf="!desglose">

            <ion-list>
                <ion-item>
                    <b primary># Factura:</b>  <span item-right>{{cliente.NUM_TRN}}</span>
                </ion-item>
                <ion-item>
                    <b primary>Fecha de Documento:</b>  <span item-right>{{cliente.FEC_DOC}}</span>
                </ion-item>
                <ion-item>
                    <b primary>Fecha de Vencimiento:</b>  <span item-right>{{cliente.FEC_VEN}}</span>
                </ion-item>
                <ion-item>
                    <b primary>Dias:</b>  <span  item-right>{{ cliente.dias }}</span>
                </ion-item>
                <ion-item>
                    <b primary>Valor:</b>  <span item-right>{{ toCurrency(cliente.VALOR) }}</span>
                </ion-item>
                <ion-item>
                    <b primary>Saldo:</b> <span item-right>{{ toCurrency(cliente.SALDO) }}</span>
                </ion-item>
            </ion-list>

        </ion-card-content>

        <ion-card *ngFor="let cliente of desglose">
            <ion-list>
                <ion-item>
                    <b primary># Factura:</b>  <span item-right>{{cliente.NUM_TRN}}</span>
                </ion-item>
                <ion-item>
                    <b primary>Fecha de Documento:</b>  <span item-right>{{cliente.FEC_DOC}}</span>
                </ion-item>
                <ion-item>
                    <b primary>Fecha de Vencimiento:</b>  <span item-right>{{cliente.FEC_VEN}}</span>
                </ion-item>
                <ion-item>
                    <b primary>Dias:</b>  <span  item-right>{{ (cliente.dias) }}</span>
                </ion-item>
                <ion-item>
                    <b primary>Valor:</b>  <span item-right>{{ toCurrency(cliente.VALOR) }}</span>
                </ion-item>
                <ion-item>
                    <b primary>Saldo:</b>  <span [attr.danger]="cliente.SALDO != '0.0' ? 'true' : null" item-right>{{ toCurrency(cliente.SALDO) }}</span>
                </ion-item>
            </ion-list>
        </ion-card>

    </ion-card>
</ion-content>

<ion-footer>
    <ion-item>
        <ion-label>Fecha:</ion-label>
        <ion-badge item-right>
            {{desglose.last_update |  date:'dd/mm/y H:mm a'}}
        </ion-badge>
    </ion-item>
</ion-footer>
