<ion-header>
    <ion-navbar primary>
        <button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Carritos por Procesar</ion-title>
    </ion-navbar>
</ion-header>
<ion-content class="carrito">
    <ion-list>
        <ion-item-sliding *ngFor="let carrito of carritos">
            <button ion-item (click)="procesarCarrito(carrito)">
                <h2>Cliente:  {{carrito.NOM_TER}}</h2>
                <p>Total: {{ toCurrency(carrito.total)}}</p>
            </button>
            <ion-item-options side="right">
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <h2 *ngIf="carritos.length < 1" text-center>
        No hay carritos por procesar
    </h2>
</ion-content>
<ion-footer>
    <ion-toolbar>
    </ion-toolbar>
</ion-footer>
