<ion-header>
    <ion-navbar primary>
        <button menuToggle *ngIf="!producto">
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title primary># {{producto.NOM_REF}}</ion-title>
        <ion-buttons end *ngIf="modal">
            <button (click)="dismiss()">
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content class="card-background-page">
    <ion-card>
        <img src="{{producto.imagen}}" alt="Imagen de producto">

        <ion-card-content>
            <ion-card-header>{{producto.NOM_REF}}</ion-card-header>
            <p>
                <strong>Codigo:     </strong>{{producto.COD_REF}} <br>
                <strong>Precio:     </strong>{{producto.VAL_REF}} <br>
                <strong>Existencia: </strong>{{producto.EXISTENCIA}}
            </p>
            <ion-row>
                <ion-col button light (click)= "pedidos= pedidos + 1"><ion-icon name="arrow-dropup"></ion-icon></ion-col>
                <ion-col ion-item class="center"><ion-input [(ngModel)]="pedidos" type="number"></ion-input></ion-col>
                <ion-col button light (click)= "pedidos= pedidos - 1"><ion-icon name="arrow-dropdown"></ion-icon></ion-col>
            </ion-row>
            <button (click)="agregarAlCarrito()" full> <ion-icon name="cart"></ion-icon> Agregar Al Carrito</button>
        </ion-card-content>
    </ion-card>
</ion-content>
